<h2>New Game</h2>
<div class="card-container">

  <a class="card" tabindex="0" (click)="onAction(1)">
    <i class="fas fa-bomb"></i>
    <span>Level 1</span>
  </a>

  <a class="card" tabindex="1" (click)="onAction(2)">
    <i class="fas fa-bomb"></i>
    <span>Level 2</span>
  </a>

  <a class="card" tabindex="2" (click)="onAction(3)">
    <i class="fas fa-bomb"></i>
    <span>Level 3</span>
  </a>

  <a class="card" tabindex="3" (click)="onAction(4)">
    <i class="fas fa-bomb"></i>
    <span>Level 4</span>
  </a>

  <a class="card" tabindex="4" (click)="onAction('passwords')">
    <i class="fas fa-key"></i>
    <span>Passwords</span>
  </a>

</div>
