<div id="minefield" class="minefield">
  <ng-container *ngIf="minefield">
    <div class="minefield--row"
         *ngFor="let row of rows; index as y"
         (click)="onDemine($event)"
         (contextmenu)="onFlagToggle($event)">
      <ng-container *ngFor="let cell of cols; index as x">
        <a class="btn-circle minefield--cell"
           [ngClass]="fieldClass(x, y)" [attr.data-position]="[x, y]">
          <i class="fas fa-bomb"></i>
        </a>
      </ng-container>
    </div>
  </ng-container>
</div>
